.selected-weather {
    display: flex;
    flex-direction: column;
    align-items: center;

    .selected-temperature {
        font-size: 130px;
        margin: 0;
        font-weight: 400;
        color: $weatherTextColor;
        position: relative;
        margin-bottom: 0;

        .degree {
            position: absolute;
        }
    }

    .feels-like {
        margin: 0;
        font-size: 14px;
        color: $weatherTextColor;
    }

    .more-info {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $weatherTextColor;
        margin-top: 20px;

        h2,
        h3 {
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 0;
            font-size: 18px;
        }

        h3 {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}
