$appBgColor: #d1d1d1;
$widgetBgColor: #f4f4f4;
$weatherTextColor: #696969;
$textColor: #3e3e3e;
$forecastGreyColor: #a9a9a9;
$hoverBgColor: #00000011;

$appDarkBgColor: #111;
$widgetDarkBgColor: #1a1a1a;
$weatherDarkTextColor: #cecece;
$darkTextColor: #aaa;
$hoverDarkBgColor: #5c5c5c33;